<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Platform.Modeler.Properties.Settings.AutoServicioConnectionString"
            connectionString="Data Source=SANTYID;Initial Catalog=AutoServicio;Persist Security Info=True;User ID=sa;Password=Santiagoeam2016"
            providerName="System.Data.SqlClient" />
        <add name="Platform.Modeler.Properties.Settings.ServicioConnectionString"
            connectionString="Data Source=SANTYID;Initial Catalog=Servicio;Persist Security Info=True;User ID=sa;Password=Santiagoeam2016"
            providerName="System.Data.SqlClient" />
        <add name="Platform.Modeler.Properties.Settings.AlquilerCarrosConnectionString"
            connectionString="Data Source=DESKTOP-92V359R\SQLEXPRESS;Initial Catalog=AlquilerCarros;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>